@import '~styles/var.scss';
.city-list {
  position: absolute;
  left: 0;
  right: 0;
  top: 1.58rem;
  bottom: 0;
  overflow: hidden;
  .title {
    line-height: .44rem;
    background: #eee;
    padding-left: .2rem;
    color: #666;
    font-size: .26rem;
    font-weight: normal;
  }
  .border-topbottom {
    &:before,&:after {
      border-color: #ccc;
    }
  }
  .btn-list {
    padding: .1rem .6rem .1rem .1rem;
    overflow: hidden;
    .btn-wp {
      float: left;
      width: 33.3%;
    }
    .btn {
      margin: .1rem;
      padding: .1rem 0;
      border-radius: .06rem;
      text-align: center;
      border: .02rem solid #ccc;
    }
  }
  .item-list {
    .item {
      line-height: .76rem;
      color: #666;
      padding-left: .2rem;
    }
    .border-bottom {
      &:before {
        border-color: #ccc;
      }
    }

  }
}